################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KibexinhosApi/src/Controllers/EmailBuilder.cs
/KibexinhosApi/src/Controllers/SendGridEmailController.cs
/KibexinhosApi/src/Controllers/EmailProvider.cs
